<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="parts/head::head"></div>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>
<header>
    <div th:replace="parts/navbar::navbar"></div>
</header>
<div class="login-form">
    <div class="form-group">
        <h4 class="text-center">Your profile will create</h4>
        <h4 class="text-center">Please checked email and log in.</h4>
    </div>
</div>
<footer>
    <div th:replace="parts/footer::footer"></div>
</footer>
</body>
</html>