<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="parts/head::head"></div>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>

<body>
<div class="login-form">
    <h2 class="text-center">Forgot password</h2>
    <form method="post" th:action="@{/password}">
        <div class="alert-info" th:text="${messages}"></div>
        <div class="form-group">
            <label>Please, enter your email</label>
            <input type="email" class="form-control" placeholder="some@some.com" name="email">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Edit</button>
        </div>

    </form>
</div>


<footer>
    <div th:replace="parts/footer::footer"/>
</footer>
</body>
</html>